<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>Wizytowka HTML</title>
        <link rel="stylesheet" href="{{url_for( 'static', filename='style.css')}}">
        {% endblock %}
    </head>
    <body>
        <h1 class="back">Witaj na mojej stronie</h1>
        <img class="foto" src="{{url_for('static', filename='programist.jpg')}}" alt="Niestety nie dziala" title="Code">
        {% block content %}
        {% endblock %}
    </body>
</html>